.apple{
    display: grid;
    background-color: skyblue;
}
.boy{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 180px;
    height: 15px;
    gap: 10px;
}
.girl{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fish img{
    width: 800px;
    height: 500px;
    background-color: skyblue;
}
.navigation{
    width: 250px;
    height: 10px;
}
.egg{
    background-color: blue;
    column-span: all;
}
.dog{
    background-color: skyblue;
}
.house{
    background-color: aliceblue;
}
.indigo img{
    width: 400px;
    height: 500px;
}
.ink{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.king{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid gap: 1px;
    column-gap: 3px;
}
.lion img{
    width: 500px;
    height: 200px;
}
.jeep{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: skyblue;
}
.king{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
}
.mango{
    background-color: aliceblue;
}
.noun{
    background-color: aliceblue;

}
.orange{
    background-color: blue;
}
.puppy{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.queen{
    width: 100%;
    height: 100%;
    
}